{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="form-signin w-40 m-auto">
            {% element h1 %}
                <h1 class="h3 mb-3 fw-normal" style="text-align: center;">{% trans "Сброс пароля" %}</h1>
            {% endelement %}
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                {% trans "Забыли свой пароль? Введите адрес электронной почты, и мы отправим Вам электронное письмо, позволяющее сбросить его." %}
            </p>
            {% url 'account_reset_password' as reset_url %}
            {% element form form=form method="post" action=reset_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}
                {% slot actions %}
                    <button class="btn btn-primary w-100 py-2" type="submit">{% trans 'Сбросить пароль' %}</button>
                {% endslot %}
            {% endelement %}
        </main>
    </div>
{% endblock content %}
