{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="form-signin w-40 m-auto">
            {% element h1 %}
                <h1 class="h3 mb-3 fw-normal" style="text-align: center;">{% trans "Сброс пароля" %}</h1>
            {% endelement %}
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                {% blocktrans %}Мы отправили Вам электронное письмо. Если вы его не получили, пожалуйста, проверьте папку со спамом.{% endblocktrans %}
            </p>
        </main>
    </div>
{% endblock content %}
