<!DOCTYPE html>
{% load i18n %}
{% load tz %}

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{% block title %} {% endblock title %}</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    {% include 'flatpages/current_time.html' %}
</head>
<body>

<header class="p-3 text-bg-dark">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand text-white text-start ms-0" href="/">
                        AION DESTINY FORUM
                    </a>
                </div>
            </nav>


            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-center">
                <li><a href="{% url 'posts'%}" class="nav-link px-2 text-white">Объявления</a></li>
                <li><a href="{% url 'search_responses'%}" class="nav-link px-2 text-white">Поиск откликов</a></li>
                <li><a href="{% url 'search_my_response'%}" class="nav-link px-2 text-white">Мои отклики</a></li>
                <li><a href="{% url 'post_create'%}" class="nav-link px-2 text-white">Добавить объявление</a></li>
                <li><a href="/admin/" class="nav-link px-2 text-white">Панель Администратора</a></li>
            </ul>

            <div class="text-end d-flex align-items-center">
                {% if request.user.username %}
                <a href="{% url 'personal_account' pk=request.user.id %}"
                   class="link-body-emphasis text-decoration-none show me-2 text-white"
                   data-bs-toggle="dropdown" aria-expanded="true">
                    <p style="color: green;">Привет, {{ request.user.username }}! &#128578;</p>
                </a>
                <a href="/accounts/logout/" class="btn btn-warning me-2">Выйти</a>
                {% else %}
                <a href="/accounts/login/" class="btn btn-outline-light me-2">Войти</a>
                <a href="/sign/signup/" class="btn btn-warning">Регистрация</a>
                {% endif %}
            </div>


        </nav>
    </div>
</header>


<!-- Page content-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</div>
{% include 'flatpages/back_to_top.html' %}
{% include 'flatpages/footer.html' %}

</body>
</html>
