<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уведомление об отклике на пост</title>
</head>
<body>
    <p>Здравствуйте!</p>
    <hr>
    <p>Пользователь {{author}} оставил отклик на Ваше объявление "{{title}}".</p>
    <p>Краткое содержание отклика.</p>
    <p>{{preview}}</p>
    <hr>
     <a class="btn btn-primary" href="{{link}}" role="button">Посмотреть отклик</a>
</body>
</html>